<!-- <h2>{{ 'MAP.TITLE' | translate }}</h2>
<div class="map-container">
  <div
  #svgMap
    id="svgMap"
    type="image/svg+xml"
    aria-label="World map"
    [innerHTML]="svgContent | safeHtml"
    class="svg-object">
</div>
</div> -->


<div class="map-wrapper">

  <!-- World layer -->
  <div
    #worldLayer
    id="svgMap"
    class="map-layer"
    [class.zoomed]="isZoomed"
    [innerHTML]="worldSvg | safeHtml"
    aria-label="World map"
  >
</div>

  <!-- Country layer -->
  <div
    #countryLayer
    class="map-layer country"
    [class.active]="isZoomed"
    [innerHTML]="countrySvg | safeHtml"
  >
</div>

</div>

