.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 64px;
  z-index: 10;



  .toolbar-left {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        height: 40px;
        margin-right: 0.5rem;
      }

      .app-name {
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-button-color)
      }
    }
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .toolbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .lang-select {
      color:var(--primary-button-color);
      min-width: unset;
      max-width: 80px;

  ::ng-deep .mat-select-trigger {
    padding: 0 8px;
    display: flex;
    justify-content: center;
  }

  ::ng-deep .mat-select-value {
    color: var(--primary-button-color);
    font-weight: bold;
    text-align: center;
  }
    }

    button[mat-icon-button] {
      color: var(--primary-button-color);
    }
  }
}
